*,
*::before,
*::after {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
    --blue-500: hsl(220, 98%, 61%);
    --check-background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    --gray-50: hsl(0, 0%, 98%);
    --purple-300: hsl(234, 39%, 85%);
    --gray-300: hsl(233, 11%, 84%);
    --gray-600: hsl(236, 9%, 61%);
    --navy-850: hsl(235, 19%, 35%);

    --navy-950: hsl(235, 21%, 11%);
    --navy-900: hsl(235, 24%, 19%);
    --purple-100-hover: hsl(236, 33%, 92%);
    --purple-600: hsl(235, 16%, 43%);
    --purple-700: hsl(233, 14%, 35%);
    --purple-800: hsl(237, 14%, 26%);

    --weight-700: 700;
    --corners: 0.3rem;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(assets/fonts/josefin-sans-v34-latin-regular.woff2);
  font-weight: 400;;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(assets/fonts/josefin-sans-v34-latin-700.woff2);
  font-weight: 700;;
}

body {
  width: 100vw;
  background-color: var(--navy-950);
}


/* > > > Typography < < < */
.heading {
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  color: var(--gray-50);
  letter-spacing: 0.7rem;
}

.add-task__input,
.add-task__input::placeholder {
  color: var(--gray-600);
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.items {
  color: var(--gray-300);
  font-size: clamp(0.73rem, 3vw, 1rem);
}

.empty-todo {
  color: var(--gray-300);
}

.status-bar {
  color: var(--navy-850);
  font-size: 0.75rem;
  font-weight: var(--weight-700);
}

.filter, .integrated-filter {
  color: var(--navy-850);
  font-size: 1rem;
  font-weight: var(--weight-700);
}

.filter__label:has(.filter__radio:checked) {
  color: var(--blue-500);
}

.footer {
  color: var(--navy-850);
  font-size: 0.88rem;
}


/* > > > Header < < < */
.header-image {
  width: 100%;
  max-height: 267px;
  position: absolute;
  z-index: -1;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 37rem;
  padding-inline: 1.5rem;
  padding-block: 3rem 2.2rem;
  padding-block-start: clamp(3rem, 10vw, 4.5rem);
}

.light-dark-icon {
  width: 1.3rem;
}

.light-dark-checkbox {
  display: none;
}


/* > > > Main < < < */
.main-content {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  max-width: 37rem;
  margin: 0 auto;
}

.add-task {
  display: flex;
  gap: 0.7rem;
  padding-inline: 1.3rem;
  padding-block: clamp(1rem, 1.4vw, 2rem);
  margin-block-end: 1rem;
  border-radius: var(--corners);
  background-color: var(--navy-900);
}

.pseudo-checkbox,
.checkmark-label {
  width: 1.2rem;
  height: 1.2rem;
  border: solid 1.5px var(--navy-850);
  border-radius: 50%;
}

.add-task__input,
.add-task__input:active  {
  background: none;
  border: none;
  outline: none;
}


/* > > > Todo list < < < */
.todo-list {
  min-height: 19.5703125rem;
  overflow: hidden;
  list-style: none;
  background-color: var(--navy-900);
  border-radius: var(--corners) var(--corners) 0 0;
  box-shadow: 0 4rem 2rem 0 black;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1.8px var(--navy-850);
  padding-inline: 1.3rem;
  padding-block: clamp(1rem, 1.4vw, 2rem);
}

.items-sub-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.checkmark-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  width: 0.6rem;
  display: none;
}

.checkmark {
  display: none;
}
.checkmark-label:has(.checkmark:checked) {
  background: var(--check-background);
}

.checkmark-label:has(.checkmark:checked) .checkbox-cover {
  display: none;
}

.checkmark:checked + .checked {
  display: block;
}

.task {
  padding-block-start: 0.2rem;
}

.remove-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.empty-todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-todo {
  display: none;
}

.checkbox-cover {
  width: 93%;
  height: 90%;
  border-radius: 50%;
  margin-inline-end: 0.05rem;
  background-color: var(--navy-900);
}

.completed {
  text-decoration: line-through;
  color: var(--navy-850);
}

/* > > > Status Bar < < < */
.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.12rem 1.3rem;
  border-radius: 0 0 var(--corners) var(--corners);
  background-color: var(--navy-900);
}

.filter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding:1.23rem 1.3rem 1.03rem 1.3rem;
  margin-block-start: 1rem;
  border-radius: var(--corners);
  background-color: var(--navy-900);
  box-shadow: 0 1.3rem 5rem 0 rgb(0, 0, 0, 0.7);
}

.filter__radio {
  display: none;
}

.integrated-filter {
  display: none;
}

.items-left,
.clear-completed {
  padding-block-start: 0.25rem;
}


/* > > > Footer < < < */
.footer {
  text-align: center;
  margin-block: 3rem;
}

/* > > > LIGHT MODE < < < */

/* 
body
.add-task
.psuedo-checkbox
.checkmark-label
.checkbox-cover
.todo-list
.empty-todo
.items
.status-bar
.filter
.filter__label
.footer
*/

.light-theme {
  background-color: var(--gray-50);
}

.light-theme .add-task {
  background-color: var(--gray-50);
}

.light-theme .add-task__input {
  color: var(--navy-850);
}

.light-theme .pseudo-checkbox,
.light-theme .checkmark-label {
  border-color: var(--gray-300);
}

.light-theme .todo-list {
  background-color: var(--gray-50);
  box-shadow: 0 5rem 12rem 0 rgb(194, 193, 193);
}

.light-theme .items {
  border-color: var(--gray-300);
  color: var(--navy-850);
}

.light-theme .status-bar {
  background-color: var(--gray-50);
  color: var(--gray-600);
}

.light-theme .filter {
  background-color: var(--gray-50);
  color: var(--gray-600);
  box-shadow: none;
}

.light-theme .filter__label {
  color: var(--gray-600);
}

.light-theme .footer {
  color: var(--gray-600);
}

.light-theme .empty-todo {
  color: var(--gray-600);
}

.light-theme .checkbox-cover {
  background-color: var(--gray-50);
}



/* > > > Breakpoints < < < */
@media (min-width: 48.0625rem) {
  .filter {
    display: none;
  }

  .integrated-filter {
    display: flex;
    gap: 1rem;
  }
  
  .remove-icon {
    display: none;
  }

  .items:hover .remove-icon{
    display: block;
  }
}



/* Hover and active effects */
.checkmark-label:hover,
.task:hover,
.filter__label:hover,
.clear-completed:hover,
.remove-icon:hover,
.items {
  cursor: pointer;
}

.checkmark-label:hover {
  background: var(--check-background);
}

.filter__label:hover,
.clear-completed:hover {
  color: var(--gray-300);
}

.light-theme .filter__label:hover,
.light-theme .clear-completed:hover {
  color: var(--navy-850);
}

.dragging {
  opacity: 0.3;
  cursor: move;
}